.portifolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

}

.portifolio_item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}

.portifolio_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portifolio_item-img {
    border-radius: 1.5rem;
    overflow: hidden;

}

.portifolio_item h3{
    margin: 1.2rem 0 2rem;
}

.portifolio_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

}


@media screen and (max-width: 1024px) {
    .portifolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .portifolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}